$_mainColor: #6AB7FC;
$_errorColor: #FC6A6E;
$_lightGrey: #f5f5f5;
$_disabled: darken($_lightGrey, 10%);


.button-wrap {
	margin-bottom: 3em;
}

.elasticBtn {
	background: none;
	border: none;
	outline: none;
	position: relative;
	padding: 0.61rem 1.61rem;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	&:hover{
		svg {
			stroke: darken($_mainColor, 25%) !important;
			transition: all 0s;
		}
		&.redBtn{
			.morph-shape svg{
				stroke: darken($_errorColor, 25%) !important; 
				transition: all 0s;
			}
		}
	}
}


.button--round {
	width: 4rem;
	height: 4rem;
}

.button__text {
	display: block;
	text-align: center;
	position: relative;
	z-index: 100;

	font-family: SanFranCuatro;
    font-size: 1rem;
    color: darken($_mainColorD, 15%);

	user-select: none;
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.button--line .morph-shape svg {
	fill: none;
	stroke: $_mainColor;
	stroke-width: 2px;
	stroke-linecap: round;
	transition: all 0.2s;
}

.redBtn{
	.button__text{
		color: $_errorColor !important;
	}
	svg {
		stroke: $_errorColor !important;
	}
}

._disabledBtn{
	pointer-events: none;
	.button__text{
		color: $_disabled !important;
	}
	svg {
		stroke: $_disabled !important;
	}
}


.small_disabled{
	&.elasticBtn{
		padding: 0.61rem 1.61rem;
	}
	pointer-events: none;
	.button__text{
		color: $_disabled !important;
	}
	svg {
		stroke: $_disabled !important;
	}
}



.smallRedBtn{
	&.elasticBtn{
		padding: 0.61rem 1.61rem;
	}
	.button__text{
		color: $_errorColor !important;
	}
	svg {
		stroke: $_errorColor !important;
	}
}

.noClick{
	pointer-events: none;
	.button__text{
		color: $_disabled !important;
	}
	svg {
		stroke: $_disabled !important;
	}
}


